:root {
    --card-width: calc(100% - 40px);
    --card-height: 300px;

    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}

button {
    border: none;
    background: none;
    cursor: pointer;
&:focus {
     outline: none;
     border: none;
 }
}
.card-list {
    position: relative;
    width: 100%;
    height: 350px;

&-btn {
     --btn-size: 35px;
     width: var(--btn-size);
     height: var(--btn-size);
     position: absolute;
     top: 25%;
     transform: translateY(-50%);
     z-index: 100;
     border: none;
     text-align: center;
  cursor: pointer;
  &.btn-left {
     left: 0%;
 }
&.btn-right {
     right: 0%;
 }

i {
    font-size: 2rem;
}
}

.cards-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}
}
.card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
    translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset))
    scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration)
    var(--card-transition-easing), opacity var(--card-transition-duration)
    var(--card-transition-easing);
    user-select: none;
  opacity: var(--opacity);
&-image {
     position: relative;
     width: 100%;
     height: 100%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center 20px;
}

&.current-card {
     --current-card-rotation-offset: 0;
     --card-translateX-offset: 0;
     --card-rotation-offset: var(--current-card-rotation-offset);
     --card-scale-offset: 1.2;
     --opacity: 1;
    z-index: 2;
 }

&.previous-card {
     --card-translateX-offset: calc(-1 * var(--card-width) * 0.5);
     --card-rotation-offset: 25deg;
 }

&.next-card {
     --card-translateX-offset: calc(var(--card-width) * 0.5);
     --card-rotation-offset: -25deg;
 }

&.previous-card,
&.next-card {
     --card-scale-offset: 0.9;
     --opacity: 0;
 }
}

.info-list {
    position: absolute;
    width: 100%;
    height: 0;

.info-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
}
}

.info {
    transition: transform var(--card-transition-duration)
    var(--card-transition-easing);
    width: 100%;
    margin: 0 auto 20px;
    position: relative;
    font-family: _font(family);
    white-space: nowrap;
    color: #fff;

.name,
.location {
    text-transform: uppercase;
}

.location {
    font-weight: _font(weight-bold);
}

.location {
    --mg-left: 40px;
    --text-size-offset: 0.12;
    font-weight: 600;
    margin-left: var(--mg-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
&::before,
&::after {
     content: "";
     position: absolute;
     background: #fff;
     left: 0%;
     transform: translate(calc(-1 * var(--mg-left)), -50%);
 }
&::before {
     top: 50%;
     width: 20px;
     height: 5px;
 }
&::after {
     bottom: 0;
     width: 60px;
     height: 2px;
 }
}

.description {
    --text-size-offset: 0.065;
    font-weight: _font(weight);
}

&.current-info {
     opacity: 1;
     display: block;
 }
&.previous-info,
&.next-info {
     opacity: 0;
     display: none;
 }
}

.loading-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 200;
.loader-text {
    color: #fff;
    font-family: _font(family);
    font-weight: _font(weight);
    margin-bottom: 1.4rem;
}
.loader {
    position: relative;
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    transform: scaleX(0);
    transform-origin: left;
}
}
}

@media only screen and (min-width: 800px) {
    :root {
        --card-width: 560px;
        --card-height: 400px;
    }
  .card-list{
    height: 500px;
  }
}

.support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
a {
    margin: 0 10px;
    color: #fff;
    font-size: 1rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
&:hover {
     transform: scale(1.1);
 }
}
}
