<!-- About -->
<article id="about">
  <h2 class="major">{{t:"about"}}</h2>
  <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
  <p>{{t:"about_p"}}</p>

  <section>
    <h3>{{t:"skills"}}</h3>
    <h4>{{t:"web_development"}}</h4>
    <ul>
      <li>{{t:"rest_api_development"}}</li>
      <li>{{t:"microsites_landingpages"}}</li>
      <li>{{t:"wordpress"}}</li>
    </ul>
    <h4>{{t:"app_development"}}</h4>
    <ul>
      <li>{{t:"react_native"}}</li>
      <li>{{t:"android_studio"}}</li>
      <li>{{t:"alexa_skills"}}</li>
    </ul>
    <h4>{{t:"game_development"}}</h4>
    <ul>
      <li>{{t:"unity_3d"}}</li>
      <li>{{t:"augmented_reality"}}</li>
    </ul>
    <h4>{{t:"languages"}}</h4>
    <ul>
      <li>{{t:"html_css_javascript"}}</li>
      <li>{{t:"lamp_webstack"}}</li>
      <li>Java, C#</li>
    </ul>
  </section>

  <section>
    <h3>{{t:"work_experience"}}</h3>
    <div class="table-wrapper">
      <table>
        <tbody>
        <tr>
          <td>2019 - {{t:"today"}}</td>
          <td><a target="_blank" href="https://the-white-label.com/">{{t:"white_label_ecommerce"}}</a></td>
          <td>{{t:"junior_developer"}}</td>
        </tr>
        </tbody>
      </table>
      <p>{{t:"work_experience_info"}}</p>
    </div>
  </section>

  <section>
    <h3>{{t:"education"}}</h3>
    <div class="table-wrapper">
      <table>
        <tbody>
        <tr>
          <td>2019</td>
          <td>{{t:"media_systems"}}</td>
          <td>{{t:"haw"}}</td>
        </tr>
        </tbody>
      </table>
      <p>{{t:"education_info"}}</p>
    </div>
  </section>

  <section>
    <h3>{{t:"internships"}}</h3>
    <div class="table-wrapper">
      <table>
        <tbody>
        <tr>
          <td>2019</td>
          <td><a target="_blank" href="https://the-white-label.com/">White Label eCommerce GmbH</a></td>
          <td>{{t:"working_student"}} {{t:"web_development"}}</td>
        </tr>
        <tr>
          <td>2017 - 2019</td>
          <td><a target="_blank" href="https://napsys.de/">{{t:"napsys"}}</a></td>
          <td>{{t:"working_student"}} {{t:"web_development"}}</td>
        </tr>
        </tbody>
      </table>
      <p>{{t:"internships_info"}}</p>
    </div>
  </section>

</article>
