<!-- About -->
<article id="about">
  <h2 class="major">{{t:"about"}}</h2>
  <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
  <p>{{t:"about_p"}}</p>

  <section>
    <h3>Skills</h3>

    <h4>Web Development</h4>
    <ul>
      <li>Rest API Development</li>
      <li>Microsites, Landingpages</li>
      <li>Wordpress</li>
    </ul>
    <h4>App Development</h4>
    <ul>
      <li>React Native</li>
      <li>Android Studio</li>
      <li>Alexa Skills</li>
    </ul>
    <h4>Game Development</h4>
    <ul>
      <li>Unity3D</li>
      <li>Augmented Reality(Vuforia)</li>
    </ul>
    <h4>Sprachen</h4>
    <ul>
      <li>HTML5, CSS3, Javascript</li>
      <li>LAMP Webstack: PHP7, MySQL, PostgreSQL</li>
      <li>Java, C#</li>
    </ul>
  </section>

  <section>
    <h3>Berufserfahrung</h3>
    <div class="table-wrapper">
      <table>
        <tbody>
        <tr>
          <td>2019 - heute</td>
          <td><a target="_blank" href="https://the-white-label.com/">White Label eCommerce GmbH</a></td>
          <td>Junior Developer</td>
        </tr>
        </tbody>
      </table>
      <p>
        In meiner Arbeit befasse ich mich mit der Weiterentwicklung eines Shopsystems für Veranstaltungstickets und Merchandise Produkte.
        Zu meinen täglichen Aufgaben gehört das Konzipieren und Entwickeln neuer API Schnittstellen sowie die Entwicklung von neuen
        Features oder Microsites.
      </p>
    </div>
  </section>

  <section>
    <h3>Ausbildung</h3>
    <div class="table-wrapper">
      <table>
        <tbody>
        <tr>
          <td>2019</td>
          <td>B.Sc. Media Systems</td>
          <td>Hochschule für Angewandte Wissenschaften Hamburg</td>
        </tr>
        </tbody>
      </table>
      <p>Das Studienfach Media Sytems ist eine Kombination aus Mediengestaltung und Informatik
        und zeichnet sich durch sein projektorientiertes und praxisbezogenes Lernkonzept aus.
        Im Rahmen meines Studiums konnte ich in vielen verschiedenen Bereichen der Software Entwicklung
        Erfahrungen sammeln.<br>
        Im Rahmen meiner Bachelor Arbeit habe ich mich mit dem Thema Dynamic Pricing und dadurch mit Machine Learning beschäftigt.
      </p>
    </div>
  </section>

  <section>
    <h3>Praktika</h3>
    <div class="table-wrapper">
      <table>
        <tbody>
        <tr>
          <td>2019</td>
          <td><a target="_blank" href="https://the-white-label.com/">White Label eCommerce GmbH</a></td>
          <td>Werkstudentin Web Development</td>
        </tr>
        <tr>
          <td>2017 - 2019</td>
          <td><a target="_blank" href="https://napsys.de/">NAPSYS GmbH</a></td>
          <td>Werkstudentin Web Development</td>
        </tr>
        </tbody>
      </table>
      <p> Ich habe bereits einiges an praktischer Erfahrung im Rahmen von Werkstudenten Stellen erworben.
        Die Arbeit in diesen Positionen war hauptsächlich von Customizings und kleinen Frontend Template Entwicklungen
        geprägt.
      </p>
    </div>
  </section>

</article>
