<!-- Contact -->
<article id="contact">
  <h2 class="major">{{t:"contact"}}</h2>
  <form method="post" action="{{rootUrl}}/contact_form.php">
    <div class="fields">
      <div class="field half">
        <label for="name">{{t:"contact_name"}}</label>
        <input required type="text" name="name" id="name" />
      </div>
      <div class="field half">
        <label for="email">{{t:"contact_email"}}</label>
        <input required type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">{{t:"contact_message"}}</label>
        <textarea required name="message" id="message" rows="4"></textarea>
      </div>
    </div>
    <ul class="actions">
      <li><input type="submit" value="{{t:"contact_send_message"}}" class="primary" /></li>
      <li><input type="reset" value="{{t:"contact_reset"}}" /></li>
    </ul>
  </form>
</article>
